<ul class="navbar-nav">

  {% if user.is_authenticated %}

    <li class="nav-item me-3">
      <span class="navbar-text">
        👤 {{ user.username }}
      </span>
    </li>

    <li class="nav-item">
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-light btn-sm" type="submit">
          Logout
        </button>
      </form>
    </li>

  {% else %}

    <li class="nav-item">
      <a class="btn btn-outline-light btn-sm"
         href="{% url 'login' %}">
        Login
      </a>
    </li>

  {% endif %}

</ul>
